body {
  background: #fff; }

#intro .intro {
  background-image: url(/src/assets/timor-leste-coastline.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }
  #intro .intro h1 {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 16px;
    text-transform: uppercase; }

#navbar ul {
  margin-top: 16px;
  padding: 0; }
  #navbar ul li {
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    margin-right: 4px;
    margin-left: 4px;
    padding: 8px 12px; }
  #navbar ul .active {
    background-color: #ddd;
    border-color: #ddd; }
  #navbar ul a {
    color: #666; }
    #navbar ul a li:hover {
      border-color: #222;
      color: #222; }

#navbar .sticky {
  background-color: rgba(255, 255, 255, 0.96);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999; }

#about .about {
  padding-top: 8px;
  padding-bottom: 8px; }
  #about .about #map {
    width: 100%;
    height: 100vh; }

#about .padding {
  padding-top: 96px; }
