body {
    background: #fff;
}

#intro {
	.intro {
		background-image: url(/src/assets/timor-leste-coastline.jpg);
		background-size: cover;
		background-position: center;
		padding-top: 150px;
		padding-bottom: 150px;
		text-align: center;

		h1 {
			background-color: rgba(0, 0, 0, .8);
			color: #fff;
			padding-top: 16px;
			padding-bottom: 16px;
			text-transform: uppercase;
		}
	}
}

#navbar {
	ul {
		padding-top: 8px;
		padding-bottom: 8px;
		border-bottom: 1px solid #ccc;

		li {
			display: inline-block;
			padding: 4px;
		}
	}
}

#about {
	.about {
		padding-top: 8px;
		padding-bottom: 8px;
		
		#map {
			width: 100%;
			height: 100vh;
		}
	}
}